.cars-content{
     max-width:400px;
     gap: 20px;
     margin: 0 10px 20px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
    width: 100%;
    .carsModel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
}