.container{
    padding-top: 2%;
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
}
.veiculos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width: 780px) {
 .flex{
    margin-top: 25px;
 }
}